.phototable{
    color:white;
    background-color: rgb(15, 35, 58);
}
.tabledata{
    background-color: rgb(12, 52, 97);
}
a{
    color:white;
}
.heading{
    background-color: rgb(166, 165, 167);
    padding:6px 5px;
}
.tabledata2{
    background-color: rgb(216,212, 212);
}
.fewtext{
    color:rgb(166, 165, 167)
}